# Ignore virtual environment
venv/
.env

# Ignore large media files
audio/
*.wav
*.mp3
*.zip
*.tar.gz

# Ignore system files
__pycache__/
*.pyc
.DS_Store

# Ignore the typo folder just in case
sctructured_outputs/